* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;

}

a {
  text-decoration: none;
  color: #000;

}

ul {
  list-style: none;

}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/*navigation */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  font-size: 13px;
}

.main-nav .logo {
  width: 110px;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a {
  border-bottom: 2px;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid black;
}

.main-menu {
  flex: 1;
  margin-left: 20px;
}

/*header*/
.btn {
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgb(5, 128, 243);
  color: rgb(255, 251, 251);
  font-size: 15px;
  font-weight: bolder;
  display: inline-block;
  border: 0;
}

.btn:hover {
  opacity: 0.9;
}

.heading {
  width: 100%;
  height: 400px;
  background-image: url(./windows-11.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.heading h2 {
  font-size: 30px;
  margin-left: 50px;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);

}

.heading p {
  margin-left: 50px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-size: 20px;

}

.heading .btn {
  margin-left: 50px;
  margin-top: 10px;
}

/*cards*/
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin-top: 20px;

}

.cards :hover {
  width: 300px;
    background-color: rgb(248, 251, 253);
}

.office-line div h1 {
  font-size: 15px;
}

.cards img {
  width: 100%;
  margin-bottom: 20px;
  border-top-right-radius: 20px;
}

/* Outlook*/
.Outlook {
  width: 100%;
  height: 400px;
  background-color: #ddd;
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: url(./outlook2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Outlook .content {
  width: 50%;
  padding: 150px;
}

.Outlook .content h2 {
  color: rgb(255, 255, 255);
  margin-left: -130px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bolder;
}

.Outlook .content p {
  color: rgb(255, 255, 255);
  margin-left: -100px;
  margin-bottom: 10px;
  font-size: 20px;
}

.Outlook .content a {
  text-transform: uppercase;
  font-weight: bolder;
}

.Outlook .content .btn {
  margin-left: -100px;
  margin-top: 10px;
}

/*work*/
.work {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin-top: 20px;

}

.work :hover {
  width: 300px;
  background-color: rgb(253, 253, 253);
}

.work div h1 {
  font-size: 25px;
}

.work img {
  width: 100%;
  margin-bottom: 20px;
  border-top-right-radius: 20px;
}

.work a {
  display: inline-block;
  padding-top: 10px;
  text-transform: uppercase;
  color: rgb(7, 132, 235);
  font-weight: bold;
}

.work p {
  font-size: 18px;
}

/*follow*/
.follow {
  display: flex;
  align-items: center;
  justify-self: start;
  margin-bottom: 50px;
  margin-top: 10px;
}

.follow * {
  margin-right: 20px;
}

.follow p {
  font-size: 25px;
}
.follow ul,li:hover{
  
  background-color: rgb(7, 132, 235);
}
.follow a:hover{
  width: 50px;
}
/*footer*/
.links{
  background-color: #f2f2f2;
  color: #616161;
  padding: 35px;
  font-size: 15px;
  text-align: right;
}
.inner-links{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}
#works{
  margin-left: 15px;
}
#com{
  margin-right: 20px;
}
/* .links h3{
  text-align: right;
} */
#socil{
  width: 170px;
  height: 50px;
}